@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> */
@layer base {
  :root {
    --color-primary: rgb(255 115 179);
    --color-secondary: rgb(111 114 185);
    --text-dark-nav: #1e1e1e;
    --text-dark: #000;
    --darkorange: #a71e1e;
    --lightorange: #ee6f30;
    --darkblue: #0a256c;
    --newsletterbackground: #efebeb;
    --border: #d4cdcd;
    --white: #fff;
    --darkColor: #000;
    --navDrop: #4e4e4e;
    --welcome: #f8cdcd;
    --grey: rgba(217, 217, 217, 0.19);
    --grey2: rgba(124, 124, 124, 0.64);
    --grey3: #f1f5f6;
    /* ... */

    --hero-image-1: url("/images/Home-8.jpg");
    --hero-image-2: url("/images/Rectangle-2.jpg");
    --hero-image-3: url("/images/Home-10.jpg");
    --hero-image-4: url("/images/Home-7.jpg");
  }
}

body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/Home-8.jpg");
  height: 100vh;
}

.bg-loaded{
  animation: slider 120s linear infinite;
  will-change: background-image;
}

@keyframes slider {
  0%,
  20% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      var(--hero-image-1);
  }
  25%,
  45% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    var(--hero-image-2);
  }
  50%,
  70% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    var(--hero-image-3);
  }
  75%,
  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    var(--hero-image-4);
  }
} */

.Abouthero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./public/images/Home-Page/Home-6.jpg");
  background-repeat: no-repeat;
}

.home-about-container,
.home-blog-container,
.level-advisers-container {
  background-image: url("/polygon-scatter-1.svg");
}

.level-advisers-container {
  background-size: contain;
}

.home-blog-container {
  background-size: cover;
}

.whoweare-container {
  background-image: url("/blob-scatter.svg");
  background-size: contain;
}

.executiveHero {
  position: relative;
  background-image: url("/Executive-Table.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #be2828;
}

.executiveHero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 5, 0.5); /* Dark overlay */
  backdrop-filter: blur(3px); /* Apply blur */
}

.executiveHero h1 {
  z-index: 50;
}

.nacostext {
  background-color: rgba(250, 181, 181, 0.24);
}
.executive-image {
  /* filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1)); */
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  /* transform: scale(.9); */
}

.executive-image:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.events {
  background-image: url(../src/public/images/eventPictures/event-3.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.blog {
  background-image: url(../src/public/images/blogImage/blogImg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #c4c4c4;
}

.exam {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../src/public/images/PQ_background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #c4c4c4;
}

.advisers-hero {
  background-image: url("../src/public/images/advisers/level-advisers.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #c4c4c4;
}

.currentEvents {
  width: 30rem;
  height: 30rem;
}

.cta::placeholder {
  color: green;
}
.head {
  font-family: "Inter";
}
/* .triangle {
  clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  background-color: #a71e1e;
} */
.triangle {
  position: absolute;
  top: -8px; /* Position the triangle above the box */
  left: 20px; /* Adjust to align with the box */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--darkorange); /* Match background color */
}
.triangleMission {
  position: absolute;
  top: -8px; /* Position the triangle above the box */
  left: 80vw; /* Adjust to align with the box */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--darkorange);
}
/* background-color: black;

/* .show {
  /* display: none; */

.open:hover .show {
  display: block;
  display: flex;
}
/* .triangle {
  width: 0;
  height: 0;
  position: relative;
  left: 5%;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid var(--darkorange);
} */
.vision-box {
  /* display: none; */
  position: absolute;
  /* top: 100%; */
  left: 0;
  width: 80%; /* Ensure the box takes up full width */
  transform: scaleX(0); /* Initially, scale the box to 0 */
  /* transform-origin: none;  */
  opacity: 0; /* Initially hide the box */
  height: auto;
  max-height: 500px; /* Set a max-height to avoid unwanted overflow */
  overflow: none;
  margin-left: 50px; /* Allow scrolling inside the box if content overflows */
  background-color: var(--darkorange); /* Match background color */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Animate scale and opacity */
  z-index: 10;
}

.vision:hover > .vision-box {
  transform: scaleX(1); /* Scale the box back to full width */
  opacity: 1;
  /* top: 0%; */
}
.vision-card:hover .firstVisionArray {
  display: none;
}
.vision-card:hover .secondVisionArray {
  display: block;
}
.secondVisionArray {
  display: none;
}

.mission-box {
  /* display: none; */
  position: absolute;
  /* top: 100%; */
  left: 0;
  width: 80%; /* Ensure the box takes up full width */
  transform: scaleX(0); /* Initially, scale the box to 0 */
  /* transform-origin: left;  */
  opacity: 0; /* Initially hide the box */
  height: auto;
  max-height: 500px; /* Set a max-height to avoid unwanted overflow */
  overflow: none; /* Allow scrolling inside the box if content overflows */
  margin: 50px; /* Allow scrolling inside the box if content overflows */

  background-color: var(--darkorange); /* Match background color */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Animate scale and opacity */
  /* z-index: 10;  */
}

.mission:hover > .mission-box {
  transform: scaleX(1); /* Scale the box back to full width */
  opacity: 1;
}
.mission-card:hover .firstMissionArray {
  display: none;
}
.mission-card:hover .secondMissionArray {
  display: block;
}
.secondMissionArray {
  display: none;
}
.vision-card:hover {
  background-color: #a71e1e;
  color: #fff;
}

.mission-card:hover {
  background-color: #a71e1e;
  color: #fff;
}

.the-vision {
  display: none; /* Initially hide the vision section */
  /* Additional styles for hidden content can be added here */
}

.the-mission {
  display: none; /* Initially hide the mission section */
}

.mission-open:hover > .the-mission {
  display: block; /* Display the mission section when .mission-open is hovered */
  transition: all 0.2s ease; /* Add a smooth transition effect */
}

.the-vision {
  display: none;
  /* Additional styles for hidden content can be added here */
}

.department-heading,
.blog-list-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.department-heading::before,
.department-heading::after {
  content: "";
  flex: 1;
  height: 2px; /* Adjust thickness */
  background-color: var(--darkorange); /* Adjust color to match text-darkblue */
}

.department-heading::before,
.blog-list-header::before {
  margin-right: 10px; /* Space between line and text */
}
.department-heading::after,
.blog-list-header::after {
  margin-left: 10px; /* Space between line and text */
}

.department-heading::before,
.department-heading::after {
  content: "";
  flex: 1;
  height: 2px; /* Adjust thickness */
  background-color: var(--darkorange); /* Adjust color to match text-darkblue */
}

.blog-list-header::before,
.blog-list-header::after {
  content: "";
  flex: 1;
  height: 2px; /* Adjust thickness */
  background-color: var(--darkblue); /* Adjust color to match text-darkblue */
}

.dept-button-container {
  position: relative;
}

.whoweare-header,
.subheading {
  position: relative;
  padding: 10px 0;
  margin-bottom: 10px;
}

.whoweare-header::before,
.subheading::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid var(--darkorange);
  position: absolute;
  top: 2.8rem;
  left: 0;
  z-index: 0;
}

.whoweare-header::after,
.subheading::after {
  content: "";
  width: 7rem;
  height: 1px;
  border: 1px solid var(--darkorange);
  position: absolute;
  top: 3.16rem;
  left: 1rem;
  /* transform: translateY(-50%); */
  z-index: 0;
}

/* .dept-button-container::after{
  content: "";
  width: 100%;
  height: 2px;
  border: 1px solid var(--darkorange);
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 0;
} */

.dept-button {
  z-index: 10;
}

/* ---------------Blog Page------------------ */
#bodyText {
  ol,
  ul {
    margin-left: 2rem;
  }
  h2,
  h3 {
    color: #222;
  }
  h2 {
    /* font-weight: bold; */
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.4rem;
    font-weight: 600;
    /* color: var(--darkblue); */
    /* text-decoration: underline; */
  }
  p,
  ol,
  ul {
    line-height: 2rem;
    color: #444;
    /* font-size: 1rem; */
  }
  ol {
    list-style: disc;
  }
  ul {
    list-style: lower-roman;
  }
}

.vision-open:hover .the-vision {
  display: block;
  transition: all 0.2s ease;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.slider {
  animation: scroll 5s infinite linear;
}
